doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/assets/css/style.css')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
  body
    block content
    script(type='text/javascript', charset='utf-8', src='/assets/js/vendor/jquery-2.1.1.min.js')
    script(type='text/javascript', charset='utf-8', src='/assets/js/vendor/bootstrap.min.js')
    script(type='text/javascript', charset='utf-8', src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js')
    script(type='text/javascript', charset='utf-8', src='/assets/js/app.js')
    block scripts
